.Dashboard {
  background-image: url("./../../bg-yellow.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  height: auto;
  .container {
    padding: none;
  }
}
